*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
.div-img{
    position: relative
}


.name-image{
position: absolute;
font-size: 2.5rem;
margin-left: 40px;
bottom: 1rem;
color: white;
font-family: 'Josefin Sans', sans-serif;
font-weight: 300;


} 

.footer{
    padding: 35px 100px;
    margin-top: 350px;
    background-color: #000;
    color: white;
} 

 footer a i{
    color: white;
    margin: 5px;
    font-size: 20px;
    
  
}

footer a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.right{
    text-align: right;
}