:root {
    --white-color: #fff;
    --dark-color: #000;
    --bs-body-font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}


h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 40px;
}


/********************** Clases para Banner *******************************/

.container-fluid {
    padding: 50px 70px;
}

.navbar-collapse {
    flex-grow: unset !important;
}

.header {
    z-index: 2;
}

.banner {
    position: relative;
    height: 100vh;
    background: url("./src/desktop/image-hero.jpg");
    overflow: hidden;
}

.banner__content {
    z-index: 1;
}

.banner__content-width {
    border: 1px solid var( --white-color);
    max-width: 540px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
    padding: 25px;
    animation-name: texto-volador;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

/********************** Clases para Footer *******************************/

.footer {
    background: var( --dark-color);
}

.footer .container_footer {
    padding: 20px 70px;
}

.footer .border-highlight {
    border-top: 1px solid var(--primary-color-highlight);
}

.footer-social {
    display: flex;
    justify-content: end;
}

.row-footer {
    display: flex;
    justify-content: space-between;
}

.row-copy {
    text-align: end;
}

/********************** Clases para leader interactive *******************************/

#container-leader,
#cards-container {
    padding: 20px 70px;
}

.container-img-leader {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.container-img-leader img {
    width: 60%;
}

.container-img-leader section {
    padding: 60px;
    width: 70%;
    margin-left: -160px;
    background: var( --white-color);
    height: 350px;
    margin-top: 150px;
}

/********************** Clases para cards *******************************/

#cards-container img{
    transition: 0.5s;
 }
 #cards-container img:hover{
     transform: scale(1.05);
     border-radius: 5px;
     cursor: pointer;
 }

.name-image {
    position: absolute;
    font-size: 2.3rem;
    margin-left: 30px;
    bottom: 1rem;
    color: var( --white-color);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}

.btn-all {
    margin-top: 30px;
    display: none;
}

/********************** Clases para Registro *******************************/

#form_registro,.btn_logout{
    display: none;
}

/********************** Medias *******************************/

@media (max-width: 675px) {
    .h1{
        font-size: 27px;
    }
    .container-fluid {
        padding: 30px 20px;
    }

    .banner {
        background: url("./src/mobile/image-hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .row-footer {
        flex-direction: column;
        gap: 15px;
    }

    .row-footer li {
        text-align: center;
    }

    .row-copy {
        text-align: center;
        margin-top: 20px;
    }

    .footer-social,
    .footer-logo {
        justify-content: center;
        margin-bottom: 20px;
    }

    .btn-all {
        display: block;
        display: flex;
        justify-content: center;
    }

    .banner__content-width {
        margin-top: 50%;
    }

}

@media (max-width: 870px) {
    .name-image {
        font-size: 2rem;
        margin-left: 20px;
    }
}

@media (max-width: 940px) {

    .container-img-leader {
        display: flex;
        flex-direction: column;
    }

    .container-img-leader img {
        width: 100%;
    }

    .container-img-leader section {
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
        padding: 25px;
        height: auto;
    }

    .container-img-leader section h1{
        font-size: 20px;
    }
}

@media (min-width: 1400px) {
    .banner__heading {
        font-size: 3.2rem;
    }
}


/********************** Key Frames *******************************/

@keyframes texto-volador {
    from {
        margin-left: 100%;

        border: none;
    }

    to {
        margin-left: 5.3%;
    }
}